body {
    text-align: center;
    color:Black;
    font-size: 25px;
    font-style: monospace;
    /* background: linear-gradient(35deg, #CCFFFF,#FFCCCC); */
    background: #D5D8DD;
    margin: 20px;
    scroll-behavior: auto;
    font-weight: 450;
    line-height: 1.50;
}
.anchor{
  padding-top: 90px;
}
a, a:hover{
  text-decoration: none;
  color: inherit;
}
/* The navigation menu */
.navbar {
  top: 0px;
  display: inline-flex;
  position: sticky;
  overflow: visible;
  background-color: #333;
}

/* Navigation links */
.navbar a {
  float:inherit;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 5vw;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;

}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #B5E2FA;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #B5E2FA;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  color: black;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}
.smaller-image{
  width: 300px;
}
.screenshots{
  width: 800px;
}
.thin-black-border {
  border-color: black;
  border-width: 10px;
  border-style: dotted;
  border-radius: 100px;
}
.bold-blue-border {
  border-color: #4F97A3;
  border-width: 5px;
  border-radius: 100px;
  border-style: solid;
}
.bigger-font{
  font-size: 40px;
}
.right{
  float: center;
  width: 80%;
  padding: 10px;
}
.center{
  width:80%;
  padding: 10px;
}
.logo{
  width: 400px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50px;
}
.margintop{
  margin-top: 400px;
}
